.signupBody {
  background-image: url(../img/signupbg3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.membersBody {
  background-image: url(../img/membersbg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.signupCont {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: .5rem;
}

.section1 {
  min-height: 90vh;
}

.dropdownNav {
  margin-right: 200px;
}

.sectionIndex {
  min-height: 100vh;
}

.sectionIndex2 {
  min-height: 100vh;
}

.indexLogin {
  width: 365px;
  height: 200px;
}

.gtitle {
  color: rgb(13, 196, 13);
}

.bodyI {
  background-image: url(../img/indexbg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.index-cont {
  height: 230px;
}

.index-cont3 {
  height: 150px;
}

.index-cont2 {
  border-radius: .5rem;
  height: 500px;
  background-color: rgba(250, 246, 246, 0.623);
}


.h1I {
  margin-bottom: 40px;
  color: rgb(11, 8, 236);
  font-family: 'Press Start 2P', cursive;
}

.h4I {
  font-family: 'Press Start 2P', cursive;
  color: rgb(160, 6, 160);
}

.members-section {
  min-height: 140vh;
}

.gameImg {
  height: 150px;
  width: 130px;
}

.labelm {
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}

.members-col{
  min-height: 30vh;
  color: white;
  background-color: rgb(22, 21, 21);
  border: 1px solid grey;
  border-radius: .5rem;
}

.member-name{
  color: rgb(13, 196, 13);
}

.welcome {
  font-family: 'Press Start 2P', cursive;
  color: rgb(16, 16, 212);
  margin-bottom: 40px;
}

div {
  font-family: 'Press Start 2P', cursive;
}

.gamesOwned {
  color: blue;
}

.refresh {
  color: green;
  background-color: rgb(22, 21, 21);
}

.refreshBtn {
  margin-left: 30px;
}

.deleteBtn {
  color: red;
  background-color: rgb(22, 21, 21);
}

.addBtn {
  color: green;
  background-color: rgb(22, 21, 21);
}

.platform {
  color: green;
  margin-right: 10px;
}

footer {
  background-color: rgb(108, 117, 125);
  width: 100%;
  min-height: 40px;
  color: white;
  font-size: 22px;
}

.gamerz {
  font-family: 'Press Start 2P', cursive;
  color: rgb(13, 196, 13);
  margin-top: 10px;
  margin-left: 200px;
  font-size: 18px;
}

.footer-title {
  color: rgb(11, 11, 224);
}

@media screen and (max-width: 1200px) {
  .sectionIndex {
    height: 190vh;
  }

  .index-cont2 {
    height: 80vh;
  }

}

@media screen and (max-width: 1000px) {
  .sectionIndex {
    height: 190vh;
  }

  .sectionIndex2 {
    height: 120vh;
  }
  .index-cont2 {
    height: 135vh;
  }

}