body {
    text-align: center;
    background-image: url("../img/round.png");
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}
/* .container1 {
    
 text-align: center;
 display: inline-block;
} */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 3.5rem;    /* Footer height */
  }
  
  #footer {
    color: white;
    position: relative;
    font-size: 15px;
    padding: 15px;
    border: 1px solid gray;
    margin: 25px;
    bottom: 0;
    background-color: rgb(59,64,69);
    height: 3.5rem; 
  }